header {
    background-color: #5e299a;
    width: 100%;
    height: 150px;
    
}

header .container { /*aplicar para dentro do container*/
    position: relative;
   
}

header .header-black {
    background-color: #000;
    height: 40px;
}

header #logotipo {
    position: absolute; /*deixar o logo na posição - deixar junto com relative*/
    top: 20px;
}